PORT=your_port_here #? e.g. 5000
DSN=your_database_connection_string_here

JWT_DURATION=your_jwt_duration_here #? e.g. 7d
JWT_SECRET_KEY=your_jwt_secret_key_here

ADMIN_NAME=your_admin_name_here
ADMIN_EMAIL=your_admin_email_here
ADMIN_PASSWORD=your_admin_password_here